<!DOCTYPE html>

<html>
    <head>
        <style>
            body {
                background-image: url("https://wallpaperaccess.com/full/391976.jpg");
                background-repeat: no-repeat;
                background-size:cover;
            }
        </style>
        <title>FriendsLocation</title>
    </head>
    <body style="text-align: center">
        <h1 style="font-family:verdana;font-size:450%"> <span style="color: #FFFFFF">Fri</span><span style="color: #F12B2B;">END</span><span style="color: #FFFFFF">s-Location</span></h1>
        <div class="row">
            <form action="." method="POST">
                <textarea class="form-control" name="contents" placeholder="Enter Twitter Account"></textarea>
                <input type="submit" class="btn btn-success" value="Enter">
            </form>
        </div>
        <div style="background-image: url('https://wallpaperaccess.com/full/391976.jpg');">
        </div>
    </body>
</html>